/* andreas01 - a free xhtml/css website template by Andreas Viklund - http://andreasviklund.com/ - that may be used for any purpose as long as the proper credits are given to the original designer.

Version: 2.5 (Jan 11, 2007)

Screen layout: */

/***** Body and main container *****/

body {
    margin:0 auto;
    padding:0;
    font:76% Verdana,Tahoma,Arial,sans-serif;
    background:#f4f4f4 url(img/bg.gif) top center repeat-y;
    color:#404040;
}

#wrap {
    background:#ffffff;
    color:#404040;
    margin:0 auto;
    width:760px;
}

/***** Various tags *****/

a {
    text-decoration:none;
    font-weight:bold;
    color:#286ea0;
    background-color:inherit;
}

a:hover {
    text-decoration:underline;
    color:#286ea0;
    background-color:inherit;
}

a img {
    border:0;
}

p {
    margin:0 0 1.4em 0;
}

/***** Header *****/

#header {
    margin:10px 0 0;
    padding:0;
    height:45px;
}

#header h1 {
    color:#505050;
    background-color:inherit;
    width:350px;
    margin:0 0 10px;
    font-size:2em;
    float:left;
}

#header h1 a {
    color:#505050;
    background-color:inherit;
    text-decoration:none;
}

#header p {
    width:400px;
    float:right;
    text-align:center;
    margin:8px 0 0;
    font-weight:bold;
    line-height:1.3em;
}

#frontphoto {
    margin:0 0 10px;
    border:0;
    max-width: 100%;
    height: auto;
}

/***** Left sidebar *****/

#leftside {
    clear:left;
    float:left;
    width:140px;
    margin:0 0 5px;
    padding:0;
}

#leftside h2,#leftside h3 {
    color:#505050;
    background-color:inherit;
    font-size:1.3em;
    margin:0 0 5px;
    padding:0;
}

#leftside d
